body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #87CEEB; /* Light Blue for a sky-like background */
  }
  
  #search-container, #current-weather-container, #forecast-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #search-container {
    text-align: center;
  }
  
  #current-weather-container, #forecast-container {
    text-align: center;
  }
  
  #current-weather-container {
    background-color: #87CEEB; /* Light Blue for current weather container */
  }
  
  #current-weather-container h2 {
    color: #ffffff; /* White text for city and date */
  }
  
  #current-weather-container p {
    color: #333; /* Darker text for weather details */
  }
  
  #forecast-container {
    margin-top: 20px;
  }
  
  .forecast-item {
    background-color: #87CEEB; /* Light Blue for each forecast item */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .forecast-item p {
    color: #f0f0f0; /* White text for forecast details */
  }
  
  #search-history {
    margin-top: 20px;
    text-align: center;
  }
  
  .history-item {
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #f8f5f5;
    color: #333; /* Darker text for history items */
  }
